<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/seccion/inicio">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/seccion/donde_estamos">Donde estamos</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/seccion/conocenos">Conocenos</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>